* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .styling {
  background-color: aqua;
} */

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.header .toDoTask .hidden {
  display: none !important;
}
